<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>

<div class="container">
  <form action="/answer" method="get">
    <input class="first" type="text" name="question" placeholder="Type your question here">
    <input class="second" type="submit" value="Ask!">
  </form>
</div>
